NEXT_PUBLIC_SUPABASE_URL=https://ukbcbttdqtfehvuhbqaf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrYmNidHRkcXRmZWh2dWhicWFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzMjcwMTIsImV4cCI6MjA2OTkwMzAxMn0.bwewopQ_NX2POyuf9d0ckL9GRJZ7Yoj3_0xYfGspQ8w
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrYmNidHRkcXRmZWh2dWhicWFmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDMyNzAxMiwiZXhwIjoyMDY5OTAzMDEyfQ.EOiKIYsN6aPIgt2dLk0tEz66DIuL7S81sogkc-wdeiw
SUPABASE_JWT_SECRET=MKreKsCqNA9ep2A1eT1wP8DlUkMLfdwsLS3ynI5mTuWQM1/3FTiSoVgWzszUwEaIE8+4A4XgAHf/eF8LBszkow==
